@model IEnumerable<VehicleModel>

@{
    ViewData["Title"] = "Consuta de Veículos";
}

<div>
    <!-- Vehicles Overview + Stock + Register Link + Save Btn -->
    <div id="vehicles-header-container">
        <section>
            <!-- Vehicles Overview -->
             <div class="vehicles-overview">

                <!-- Vehicle Overview Item (total) -->
                <div class="vehicles-overview-item">
                    <p>100 veículos</p>
                    <span id="overview-span-total">Total</span>
                </div>

                <div class="overview-divider" ></div>

                <!-- Vehicle Overview Item (with pics) -->
                <div class="vehicles-overview-item">
                    <p>080 veículos</p>
                    <span id="overview-span-with-images">com fotos</span>
                </div>

                <div class="overview-divider"></div>

                <!-- Vehicle Overview Item (no pics) -->
                <div class="vehicles-overview-item">
                    <p>030 veículos</p>
                    <span id="overview-span-no-images">sem fotos</span>
                </div>
            </div>

            <!-- Vehicles Stock -->
            <div class="vehicles-stock">
                <p>Exportar Estoque</p>
                <img src="~/images/excel-export.png" />
            </div>
       
            <!-- Vehicles Register Link -->
            <div class="vehicle-register-link">
                <a>
                    <img src="~/images/vehicle-register-link.png" />
                </a>
            </div>

            <!-- Vehicles Save Btn -->
            <div style="align-self: end; justify-self: end; margin-left: auto;">
                <img src="~/images/save-btn.png" />
            </div>
        </section>
    </div>

    <!-- Vehicles Filter -->
    <section id="vehicles-filter-container">
        <img src="~/images/search-btn.png" id="search-btn"/>
        <img src="~/images/up-filters.png" id="up-filters"/>

        <!-- Placa -->
        <div class="filter-data">
            <label class="filter-label" for="filter-plate" style="text-align: start; margin-left: 1rem;">Placa</label>
            <input class="filter-input" id="filter-plate" type="text"/>
        </div>

        <!-- Marca -->
        <div class="filter-data">
            <label class="filter-label" for="filter-brand">Marca</label>
            <input class="filter-input" id="filter-brand" type="text" />
        </div>

        <!-- Modelo -->
        <div class="filter-data">
            <label class="filter-label" for="filter-model">Modelo</label>
            <input class="filter-input" id="filter-model" type="text" />
        </div>

        <!-- Ano min -->
        <div class="filter-data">
            <label class="filter-label" for="filter-year-min">Ano min</label>
            <select class="filter-dropdown" id="filter-year-min" type="number">
                <option value="">Todos</option>
                @for (int year = 2000; year <= 2024; year++)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>

        <!-- Ano max -->
        <div class="filter-data">
            <label class="filter-label" for="filter-year-max">Ano max</label>
            <select class="filter-dropdown" id="filter-year-max" type="number">
                <option value="">Todos</option>
                @for (int year = 2000; year <= 2024; year++)
                {
                    <option value="@year">@year</option>
                }
            </select>
        </div>

        <!-- Preço -->
        <div class="filter-data">
            <label class="filter-label" for="filter-price">Preço</label>
            <select class="filter-dropdown" id="filter-price" type="number">
                <option value="0">Todos</option>
                <option value="1">10mil a 50mil</option>
                <option value="2">50mil a 90mil</option>
                <option value="3">+90mil</option>
            </select>
        </div>
  
        <!-- Fotos -->
        <div class="filter-data">
            <label class="filter-label" for="filter-images">Fotos</label>
            <select class="filter-dropdown" id="filter-images" type="number">
                <option value="0">Todos</option>
                <option value="1">Com imagem</option>
                <option value="2">Sem imagem</option>
            </select>
        </div>

        <!-- Opcionais -->
        <div class="filter-data">
            <label class="filter-label" for="filter-optionals">Opcionais</label>
            <input class="filter-input" id="filter-optionals" type="text" />
        </div>

        <!-- Cor -->
        <div class="filter-data">
            <label class="filter-label" for="filter-color">Cor</label>
            <select class="filter-dropdown" id="filter-color" type="number">
                <option value="0">Todos</option>
                <option value="1">Cor 1</option>
                <option value="2">Cor 2</option>
            </select>
        </div>

        <div class="filter-data" style="margin-right: 0.5rem;">
            <label class="filter-label" style="visibility: hidden;">aa</label>
            <img src="~/images/erase.png" />
        </div>
    </section>

    <!-- Vehicles List -->
    <div id="vehicles-list-container">

        <!-- Headers -->
        <div id="vehicles-list-header-container">
            <div id="vehicles-list-header-content">
                <img src="~/images/erase-sorting-badge.png" id="erase-sorting-badge" />

                <div id="vehicles-list-header-content">

                    <div class="vehicles-list-head">
                        <span>Marca / Modelo</span>
                        <img src="~/images/sorting-arrows.png" />
                    </div>

                    <div class="vehicles-list-head">
                        <span>Ano</span>
                        <img src="~/images/sorting-arrows.png" />
                    </div>

                    <div class="vehicles-list-head">
                        <span>Preço</span>
                        <img src="~/images/sorting-arrows.png" />
                    </div>

                    <div class="vehicles-list-head">
                        <span>Fotos </span>
                        <img src="~/images/sorting-arrows.png" />
                    </div>

                </div>

                <select class="filter-dropdown" id="filter-items-per-page" type="number">
                    @for (int perPage = 10; perPage <= 2024; perPage *= 10)
                    {
                        <option value="@perPage">
                            Exibir
                            <strong>
                                @perPage
                            </strong>
                        </option>
                    }
                </select>
            </div>
            
            <div class="portal">
                <img src="~/images/logo-icarros.png" />
                <img src="~/images/arrow-down-erase.png" class="arrow-down-erase" />
            </div>

            <div class="portal">
                <img src="~/images/logo-webmotors.png" />
                <img src="~/images/arrow-down-erase.png" class="arrow-down-erase" />
            </div>
        </div>

        <!-- Body-->
        <div id="vehicles-list-body">
            @if (Model != null && Model.Any())
                {
                    foreach(var vehicle in Model)
                    {
                        <!-- Vehicle Item -->
                        <div class="vehicle-item" >
                            <div class="vehicle-remove">
                                <button>
                                    <img src="~/images/trash.png" />
                                </button>
                            </div>

                            <!-- Vehicle Card -->
                            <div class="vehicle-card">
                                <div class="vehicle-img"></div>

                                <div class="vehicle-data">
                                    <div class="vehicle-data-title">
                                        <strong>@vehicle.Brand @vehicle.Model | @vehicle.Year</strong>
                                    </div>

                                    <div class="vehicle-data-info">
                                        <p>Placa - <span>@vehicle.Plate</span></p>
                                        <p>Km - <span>@vehicle.Mileage</span></p>
                                        <p>Cor - <span>@vehicle.Color</span></p>
                                    </div>
                                </div>

                                <div class="vehicle-extra">
                                    <img src="~/images/edit-btn.png" style="height: 20px; width: 28px;" />


                                    <div class="vehicle-extra-info">
                                        <img src="~/images/camera.png" style="height: 14px; width: 18px;" />
                                        <p>08</p>
                                    </div>

                                    <div class="vehicle-extra-info">
                                        <img src="~/images/optionals.png" style="height: 16px; width: 24px;" />
                                        <p>Opcionais</p>
                                    </div>
                                </div>

                                <div class="vehicle-price">
                                    <span>R$ @vehicle.Price</span>
                                </div>

                                <img src="~/images/arrow-right-erase.png" />
                            </div>

                            <!-- Vehicle Cheboxes -->
                            <div class="checkboxes-container">
                                <small class="checkbox-title">Diamante Feirão</small>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="@vehicle.Id" />
                                    <label class="checkbox-label" style="margin-bottom: 0; color: red;">010</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0;">-</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0; color: #40A52B;">008</label>
                                </div>

                                <small class="checkbox-title">Diamante</small>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="@vehicle.Id" />
                                    <label class="checkbox-label" style="margin-bottom: 0; color: red;">030</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0;">-</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0; color: #40A52B;">025</label>
                                </div>

                                <small class="checkbox-title">Platinum</small>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="@vehicle.Id" />
                                    <label class="checkbox-label" style="margin-bottom: 0; color: red;">040</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0;">-</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0; color: #40A52B;">010</label>
                                </div>
                            </div>

                            <div class="checkboxes-container">
                                <small class="checkbox-title">Diamante Feirão</small>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="@vehicle.Id" />
                                    <label class="checkbox-label" style="margin-bottom: 0; color: red;">010</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0;">-</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0; color: #40A52B;">008</label>
                                </div>

                                <small class="checkbox-title">Diamante</small>
                                <div class="checkbox-group">
                                    <input type="checkbox" name="@vehicle.Id" />
                                    <label class="checkbox-label" style="margin-bottom: 0; color: red;">030</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0;">-</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0; color: #40A52B;">025</label>
                                </div>

                                <small class="checkbox-title">Platinum</small>
                                <div class="checkbox-group">
                                    <input type="checkbox" class="radio" name="@vehicle.Id" />
                                    <label class="checkbox-label" style="margin-bottom: 0; color: red;">040</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0;">-</label>&nbsp;
                                    <label class="checkbox-label" style="margin-bottom: 0; color: #40A52B;">010</label>
                                </div>
                            </div>
                        </div>
                    }
                }
        </div>
    </div>
</div>
